ibm-node-flow.txt
[{"id":"4a22e6a9.9163f8","type":"http request","z":"59ed1f02.260c3","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0140ddcd-dad2-4443-bbf5-478cf3ecc0c4/deployments/bbcf6643-a662-4747-9f92-7aada38d0b33/online","tls":"","proxy":"","authType":"","x":443,"y":93,"wires":[["4a4769a6.b7c068","c93a65a2.afbd58"]]},{"id":"5224f4fd.06c89c","type":"function","z":"59ed1f02.260c3","name":"prediction","func":"var token=msg.payload.token;\nvar tm=global.get(\"tm\");\nvar hm=global.get(\"hm\");\nvar m1=global.get(\"m1\");\nvar m2=global.get(\"m2\");\nvar m3=global.get(\"m3\");\nvar m4=global.get(\"m4\");\nvar m5=global.get(\"m5\");\nvar fa=global.get(\"fa\");\nmsg.payload={\"fields\":[\"tm\",\"hm\",\"m1\",\"m2\",\"m3\",\"m4\",\"m5\",\"fa\"],\"values\":[[tm,hm,m1,m2,m3,m4,m5,fa]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":157,"wires":[["4a22e6a9.9163f8"]]},{"id":"c93a65a2.afbd58","type":"debug","z":"59ed1f02.260c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":843,"y":93,"wires":[]},{"id":"469ee5bb.b9d3cc","type":"http request","z":"59ed1f02.260c3","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":483,"y":353,"wires":[["c01b6843.28d688","5224f4fd.06c89c"]]},{"id":"326e2f7c.63631","type":"inject","z":"59ed1f02.260c3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":213,"wires":[["ab2809c0.06ca08"]]},{"id":"ab2809c0.06ca08","type":"function","z":"59ed1f02.260c3","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"47395f8f-92e2-4777-91aa-c293f043243e\"\nvar password=\"2d2510dc-d02d-4a6d-84d8-43bc61e4c791\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"tm\",msg.payload.tm)\nglobal.set(\"hm\",msg.payload.hm)\nglobal.set(\"m1\",msg.payload.m1)\nglobal.set(\"m2\",msg.payload.m2)\nglobal.set(\"m3\",msg.payload.m3)\nglobal.set(\"m4\",msg.payload.m4)\nglobal.set(\"m5\",msg.payload.m5)\nglobal.set(\"fa\",msg.payload.fa)\nreturn msg;","outputs":1,"noerr":0,"x":353,"y":313,"wires":[["469ee5bb.b9d3cc"]]},{"id":"4a4769a6.b7c068","type":"function","z":"59ed1f02.260c3","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":533,"y":173,"wires":[["c93a65a2.afbd58","a88a0184.1de2"]]},{"id":"c01b6843.28d688","type":"debug","z":"59ed1f02.260c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":743,"y":373,"wires":[]},{"id":"a88a0184.1de2","type":"ui_text","z":"59ed1f02.260c3","group":"7865586b.a9d7a8","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":763,"y":213,"wires":[]},{"id":"c14ba714.089788","type":"ui_form","z":"59ed1f02.260c3","name":"","label":"","group":"26692f84.13b65","order":2,"width":0,"height":0,"options":[{"label":"Temperature","value":"tm","type":"number","required":true},{"label":"Humidity","value":"hm","type":"number","required":true},{"label":"Measure 1","value":"m1","type":"number","required":true},{"label":"Measure 2","value":"m2","type":"number","required":true},{"label":"Measure 3","value":"m3","type":"number","required":true},{"label":"Measure 4","value":"m4","type":"number","required":true},{"label":"Measure 5","value":"m5","type":"number","required":true},{"label":"Failure","value":"fa","type":"number","required":true}],"formValue":{"tm":"","hm":"","m1":"","m2":"","m3":"","m4":"","m5":"","fa":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":129,"y":403,"wires":[["ab2809c0.06ca08"]]},{"id":"7865586b.a9d7a8","type":"ui_group","z":"","name":"Prediction","tab":"662a728f.de1ffc","disp":true,"width":"6","collapse":false},{"id":"26692f84.13b65","type":"ui_group","z":"","name":"predict","tab":"d0aaf2d7.74d03","disp":true,"width":"6","collapse":false},{"id":"662a728f.de1ffc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"d0aaf2d7.74d03","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]